<div class="body">
  <div class="about">
    <h1
      class="about_title"
      mat-dialog-title
    >
      BookApp
    </h1>
  </div>
  <div class="about_description">
    <p>
      <b>About the Project:</b> This app is a personal project created out of a passion for books and coding. It's a simple book reader designed for fellow book lovers. While it may not have all the bells and whistles of commercial apps, it's a labor of love, and we hope you find it useful.
    </p>
    <br />
    <p>Thank you for choosing our Book Reader App. Happy reading!</p>
    <br />
    <p>
      For more information or inquiries, please contact
      <b>sadikh.seyidzade@gmail.com</b>
    </p>
  </div>

  <button
    class="close-btn"
    mat-button
    (click)="onClose()"
  >
    Close
  </button>
</div>
